/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button,
p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
